# .gitignore

# Python
__pycache__/
*.py[cod]
venv/
.venv/
.env

#Django
media/
staticfiles/

# Node
node_modules/
npm-debug.log
yarn-error.log

# その他
.DS_Store
db.sqlite3
backend/db.sqlite3
.vscode/
dump.rdb
*.log